---
import { ABOUT_ME, TOOLS } from '../../lib/constants'
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      {ABOUT_ME.description}
      <br />
      <br />
      My primary tools of choice includes:
      <ul class="list-inside list-disc">
        {TOOLS.map((tool: string) => <li>{tool}</li>)}
      </ul>
    </p>
    <p class="text-sm font-light">
      {ABOUT_ME.hobby}
    </p>
  </div>
</Card>
